# Playwright browser installation
# Install browsers automatically on npm install
# playwright-skip-browser-download=1

# Specify where to store playwright browsers
# PLAYWRIGHT_BROWSERS_PATH=./browsers

